<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>MeToo</title>

  <!-- Google Fonts Roboto-->
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
  <!-- Bootstrap -->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'/>
  <!-- Optional theme -->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css'/>

  <!-- Fontawesome -->
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'/>
  <!-- jQuery Mobile stylesheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css">
  <!-- Project custom stylesheet -->
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <div data-role="page" id="page-welcome">
    <div role="main" class="ui-content">
      <div id="logo-container">
        <img id="logo-upper" src="/static/images/icons/metoo1.png" />
        <img id="logo-lower" src="/static/images/icons/metoo2.png" />
      </div>
      <div id="welcome-controls">
        <p><a href="#page-create" data-transition="slide" class="ui-btn ui-shadow ui-corner-all">Create</a></p>
        <!--	<p><a href="#popup" class="ui-btn ui-shadow ui-corner-all" data-rel="dialog" data-transition="pop">Show page "popup" (as a dialog)</a></p>-->
        <p><a href="#page-browse" data-transition="slide" class="ui-btn ui-shadow ui-corner-all">Browse</a></p>
        <p><a href="#page-map" data-transition="slide" class="ui-btn ui-shadow ui-corner-all">See a map with activities around you</a></p>
      </div><!-- /content -->
    </div>
  </div><!-- /page one -->




  <!-- Start of second page: #two -->
  <div data-role="page" id="page-browse" data-theme="a">
    <div data-role="header">
      <a href="#page-welcome" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left"></a>
      <h1>Tell us your preferences</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content">
      <div id="pref-container">
  			<div id="column-1" class="column">		<div id="drink" class="hexagon">
					<img class="unchecked" src="/static/images/icons/drink.png" />
					<img class="checked no-display" src="/static/images/icons/drink-a.png" />
					</div>
					<div id="concert" class="hexagon">
						<img class="unchecked" src="/static/images/icons/concert.png" />
						<img class="checked no-display" src="/static/images/icons/concert-a.png" />
					</div>
					<div id="explore" class="hexagon">
					<img class="unchecked" src="/static/images/icons/explore.png" />
					<img class="checked no-display" src="/static/images/icons/explore-a.png" /></div>
				</div>
				<div id="column-2" class="column">
					<div id="food" class="hexagon">
						<img class="unchecked" src="/static/images/icons/food.png" />
						<img class="checked no-display" src="/static/images/icons/food-a.png" /></div>
					<div id="sightseeing" class="hexagon">
						<img class="unchecked" src="/static/images/icons/sightseeing.png" />
						<img class="checked no-display" src="/static/images/icons/sightseeing-a.png" /></div>
					<div id="sport" class="hexagon">
						<img class="unchecked" src="/static/images/icons/sport.png" />
						<img class="checked no-display" src="/static/images/icons/sport-a.png" /></div>
					</div>
					<div id="column-3" class="column">
					<div id="party" class="hexagon">
						<img class="unchecked" src="/static/images/icons/party.png" />
						<img class="checked no-display" src="/static/images/icons/party-a.png" /></div>
					<div id="culture" class="hexagon">
						<img class="unchecked" src="/static/images/icons/culture.png" />
						<img class="checked no-display" src="/static/images/icons/culture-a.png" /></div>
					<div id="dance" class="hexagon">
						<img class="unchecked" src="/static/images/icons/dance.png" />
						<img class="checked no-display" src="/static/images/icons/dance-a.png" /></div>
					</div>
  			</div>
      <form id="checkboxes">
        <input name="textinput-4" id="textinput-4" placeholder="Title" value="" type="text">
        <fieldset data-role="controlgroup">
          <legend class="ui-hidden-accessible">Horizontal controlgroup, radio:</legend>
          <input name="radio-choice-h-4" id="radio-choice-h-4a" value="on" checked="checked" type="radio">
          <label for="radio-choice-h-4a">Today, Sun 28th June</label>
          <input name="radio-choice-h-4" id="radio-choice-h-4b" value="off" type="radio">
          <label for="radio-choice-h-4b">Tomorrow, Mon 29th June</label>
          <input name="radio-choice-h-4" id="radio-choice-h-4c" value="other" type="radio">
          <label for="radio-choice-h-4c">Tue 30th June</label>
        </fieldset>
        <input name="textinput-4" id="textinput-4" placeholder="Place to meet" value="" type="text">
        Hour to meet: <input name="slider-4" id="slider-4" value="10:00" min="1" max="24" data-highlight="true" data-mini="false" type="range">
        <textarea cols="40" rows="8" name="textarea-4" id="textarea-4">Description</textarea>
        <label for="select-multiple-4" class="ui-hidden-accessible">Categories:</label>
        <select multiple="multiple" data-native-menu="false" name="select-multiple-4" id="select-multiple-4">
          <option value="">Categories:</option>
          <option value="sightseeing">Sightseeing</option>
          <option value="drinks">Drinks</option>
          <option value="food">Food</option>
          <option value="sports">Sports</option>
        </select>
        <button class="ui-shadow ui-btn ui-corner-all" type="submit" id="submit-4">Submit</button>
      </form>
    </div><!-- /ui-content -->

    <div id="preference-list">
      <fieldset style="display:none;" data-role="controlgroup">
        <input id="checkbox-food" type="checkbox">
        <label for="checkbox-food"><img class ="options-icon" src="/static/images/icons/food.png"/>Food</label>
        <input id="checkbox-drink" type="checkbox">
        <label for="checkbox-drink"><img class ="options-icon" src="/static/images/icons/drink.png"/>Drink</label>
        <input id="checkbox-party" type="checkbox">
        <label for="checkbox-party"><img class ="options-icon" src="/static/images/icons/party.png"/>Party</label>
        <input id="checkbox-sightseeing" type="checkbox">
        <label for="checkbox-sightseeing"><img class ="options-icon" src="/static/images/icons/sightseeing.png"/>Sightseeing</label>
        <input id="checkbox-culture_events" type="checkbox">
        <label for="checkbox-culture_events"><img class ="options-icon" src="/static/images/icons/culture.png"/>Culture Events</label>
        <input id="checkbox-concerts" type="checkbox">
        <label for="checkbox-concerts"><img class ="options-icon" src="/static/images/icons/Concert.png"/>Concerts</label>
        <input id="checkbox-dancing" type="checkbox">
        <label for="checkbox-dancing"><img class ="options-icon" src="/static/images/icons/dance.png"/>Dancing</label>
        <input id="checkbox-sports" type="checkbox">
        <label for="checkbox-sports"><img class ="options-icon" src="/static/images/icons/sport.png"/>Sports</label>
        <input id="checkbox-exploring" type="checkbox">
        <label for="checkbox-exploring"><img class ="options-icon" src="/static/images/icons/Explore.png"/>Exploring</label>
      </fieldset>
      <a href="#page-event-0" data-transition="slide" class="ui-btn ui-icon-arrow-r ui-btn-icon-right" id="btn-find-events">Find awesome People!</a>
    </div><!-- /content -->
  </div><!-- /page -->

  <div data-role="page" id="page-map" data-theme="a">

    <div data-role="header">
      <a href="#page-welcome" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left"></a>
	  <h1>Proposed activities around you</h1>
    </div><!-- /header -->

    <div role="main" class="ui-content" style="">
    <!--
    <div id="logo-map" style="width:20%">
        <img id="logo-upper" src="/static/images/icons/metoo1.png" />
        <img id="logo-lower" src="/static/images/icons/metoo2.png" />
    </div>
    -->

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

    <center>
      <div id="google-map" style="width:95%;min-height:600px;max-height:90%">
          <a href="#page-browse">
            <img style="width:100%" src="/static/images/bankok-map.png" />
          </a>
      </div>
    </center>
    <!--<script type="text/javascript" src="static/js/events-map.js"></script>-->
    <!--script type="text/javascript">
    var map;
    var service;
    var infowindow;

    function initialize() {
      var bankok = new google.maps.LatLng(14.236717,99.203186);

      map = new google.maps.Map(document.getElementById('google-map'), {
          center: bankok,
          zoom: 9
        });

      var request = {
        location: bankok,
        radius: '500',
        query: 'bankok grand palace' // https://developers.google.com/places/supported_types
      };

      service = new google.maps.places.PlacesService(map);
      service.textSearch(request, callback);

      var autocomplete = new google.maps.places.Autocomplete(input);
      autocomplete.bindTo('bounds', map);

    }

    function createMarker(place) {
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location,
        icon: {
          // Star
          path: 'M 0,-24 6,-7 24,-7 10,4 15,21 0,11 -15,21 -10,4 -24,-7 -6,-7 z',
          fillColor: '#ffff00',
          fillOpacity: 1,
          scale: 0.7,
          strokeColor: '#bd8d2c',
          strokeWeight: 1
        }
      });
    }

    function callback(results, status) {
    console.log(results[0])
      if (status == google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          var place = results[i];
          createMarker(results[i]);
        }
      }
    }
    initialize();
  </script-->

    </div><!-- /ui-content -->
  </div>

  <!-- Chat page -->
  <div data-role="page" id="page-chat">
    <input id="input-event-id" type="hidden">
    <div data-role="header" data-theme="b">
      <a href="#page-browse" data-rel="back" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left"></a>
      <h1>Chat</h1>
    </div><!-- /header -->

    <div id="chat-content"></div>

    <div id="chat-input">
      <input type="text" id="chat-input-form" placeholder="Type some lovely words..."/>
      <button id="chat-submit">Go!</button>
    </div>
  </div>

  <!-- jQuery -->
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
  <!-- Moment.js -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js'></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js'></script>
  <!-- jQuery Mobile -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
  <!-- Project custom JavaScript -->
  <script src="/static/js/script.js"></script>
</body>
