html, body{
  font-family: 'Roboto';
}
ul, li{
  list-style: none;
}


#page-welcome {
	background: url(/static/images/Titel.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#page-browse {
  background: url(/static/images/Titel2-blur.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-events {
  background: url(/static/images/bg-chat2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#page-chat {
  background: url(/static/images/bg-chat1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#container{
  width: 90%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
#suggests li a {
  height: 60px;
}
#welcome-controls{
  position: absolute;
  bottom: 30%;
  width: 90%;
}
.people-image{
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.people-image img{
  width: 100%;
  border-bottom: 1px solid grey;
}
.people-txt{
  width: 100%;
}
.people-txt p{
  width: 80%;
  margin: 16px auto 0 auto;
}
.icon{
  width: 40px;
  height: 40px;
}
.category-title{
  font-weight: bold;
  margin-bottom: 5px;
}
.top, .back, .forward{
  position: absolute;
  height: 50px;
  top: 222px;
  cursor: pointer;
}
.top{
  height: 60px;
  left: 50%;
  margin-left: -30px;
  top: 206px;
}
.back{
  left: 8px;
}
.forward{
  right: 8px;
}
.categories li{
  display: inline;
  float: left;
  margin-right: 3px;
}
.options-icon{
  width: 35px;
  margin-right: 4px;
}
#chat-input{
height: 50px;
}
#chat-input-form{
  height: 50px;
  width: 85%;
  background-color: white;
  position: absolute;
  bottom: 0;
}
#chat-submit{
  position: absolute;
  bottom: -7px;
  right: 0;
  height: 50px;
  width: 15%;
}
#logo-container{
  width: 24%;
  max-width: 120px;
  position: absolute;
  left: 50%;
  margin-left: -60px;
}
#logo-upper{
  width: 100%;
  z-index: 10;
  position: absolute;
  top:0;
  left:0;
}
#logo-lower{
  z-index: 9;
  width: 100%;
  position: absolute;
  top:0;
  left:0;
  opacity: 0.75;
}
.bubble{
  background-color: green;
}
.my-blob{
  background-color: #FFF;
  font-size: 16px;
  font-weight: normal;
  clear: both;
  color: #333;
  width: 70%;
  max-width: 450px;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  display: block;
  border-radius: 5px;
  display: inline-block;
  text-shadow: none;
}
.your-blob{
  background-color: #bbd7ec;
  float: right;
  clear: both;
  font-size: 16px;
  font-weight: normal;
  color: #333;
  width: 70%;
  max-width: 450px;
  padding: 10px 20px 10px 20px;
  margin: 10px;
  display: block;
  border-radius: 5px;
  text-shadow: none;
}

/*
.ui-icon-back{
  height: 30px;
}*/
#checkboxes{
  display: none;
}
.column .hexagon{
  /*  margin: 0 0 5px 0;*/
}
.hexagon{
  width: 100%;
  height: 97px;
  display: block;
  position: relative;
  cursor: pointer;
}
.hexagon img{
  width: 100%;
  position: absolute;
  top:0;
  margin: 0;
}
.no-display{
  display: none;
}
#pref-container{
  position: absolute;
  width: 100%;
  margin: 0 auto 0 auto;
}
.column{
magrin: 0 10px 0 0;
width: 100px;
display: inline-block;
height: 100%;
position: relative;
clear: both;
}
#column-1, #column-3{
  top: 49px;
}
#column-1, #column-2{
  margin-right: -24px;
 }
#find-submit{
  position: absolute;
  bottom: 25px;
  width: 80%;
  margin: 0 auto 0 auto;
}
